{% extends 'base.html' %}

{% block content %}
    <h1>Apps</h1>
    <p>Web apps, mainly planned to provide better access to bits of research software.</p>
    <ol>
        <li><a href="{{ url_for('semsim') }}">SemSim</a>: calculates semantic similarities between words and word lists.</li>
        <li><a href="{{ url_for('semtag') }}">SemTag</a>: tags the content of a text.</li>
        <li><a href="{{ url_for('semnull') }}">SemNull</a>: gets p-values and null distributions for similarity scores.</li>
    </ol>

    <p>Free to use under the MIT license, with no guarantees of anything course; code available on <a href="https://github.com/thomasgladwin/webapps">GitHub</a></p>.
{% endblock %}
