{% extends 'base.html' %}

{% block content %}
    <h1>Semantic Similarity</h1>
    <p>This app calculates a measure of semantic similarity (dot product of the word embeddings) between a target word and a list of "positive" attribute word versus a set of "negative" attribute words.
        Based on <a href="https://radimrehurek.com/gensim/models/word2vec.html">word2vec and the gensim package</a>. This kind of method was used in <a href="https://www.tandfonline.com/eprint/HQSV7KQY35BY53BHEW36/full?target=10.1080/16066359.2022.2123474">Gladwin (2022)</a> (for further reading, see references).
    </p>
    <h2>Input</h2>
    <p>Please enter the words as a comma-separated list.</p>
    <form action = "semsim_results" method="POST">
        Target words:  <input type="text" name="target_words">
        Positive words: <input type="text" name="pos_words">
        Negative words: <input type="text" name="neg_words">
        <p><button>Submit</button></p>
    </form>
    <h2>Example</h2>
    An example to run a list of emotional words through a "valence filter":
    <ul>
        <li>Target words: angry, furious, satisfied, joyous, depressed</li>
        <li>Positive words: good, positive, healthy, happy</li>
        <li>Negative words: bad, negative, diseased, sad</li>
    </ul>
    You should see the positive emotions get positive similarities and the negative emotions get negative similarities.
{% endblock %}
